#header { background: linear-gradient(to right, rgb( 242, 105, 3), rgb(115, 165, 194), rgb(253, 181, 21));}

#add-experience {
    float: right;
}

h4 {color: white;}

h6 {font-weight: bold;}

h6::after {
    content: "*";
    color: red;
}

#header-work-experience {
    background: linear-gradient(
        to right,
        rgb( 242, 105, 3),
        rgb(115, 165, 194),
        rgb(253, 181, 21));
}

#add-work-experience {
    float: right;
    cursor: pointer;
    margin-top: 5px;
}

#card-info {
    margin-left: 10px;
    cursor: pointer;
}

#work-experience-textarea {
    width: 100%;
    height: 150px;
}

.form-input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

.work-experience-textarea {height: 100px;}

form {
    margin: 20px;
    padding: 15px;
}

#card-body {
    max-height: 500px;
    overflow-y: auto;
}

#work-experience-details {
    float: right;
    cursor: pointer;
    height: 20px;
    width: 20px;
}