h4 {color: white;}

h6 {font-weight: bold;}

.modalBody h6::after {
    content: "*";
    color: red;
}

#header {
    background: #F26925

}

#add-aboutMe {
    float: right;
    cursor: pointer;
    margin-top: 5px;
}


#card-info {
    margin-left: 10px;
    cursor: pointer;
}

#edit-aboutMe{
    float: right;
    float: top;
    margin-top: 5px;
    margin-left: 10px;
    cursor: pointer;
    color: white;
}

#delete-aboutMe{
    float: right;
    margin-top: 5px;
    cursor: pointer;
    color: red;
    margin-left: 10px;
}

.form-input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

.form-textarea{
    width:100%;
    height:200px;
    margin-bottom:20px;
}

form {
    margin: 20px;
    padding: 15px;
}

.about-me-content{
    background-color: white;

}

.about-me-content::after{
    content: "";
}

.buttonStyle{
    color: black;
    background-color: black;

}

.afterStyle::after{
    content: "";
    color: white;
}

.oButton{
    background-color:rgb( 242, 105, 3); 
    border-color: rgb( 242, 105, 3);
}

.oButton:hover{
    background-color: rgb( 210, 105, 3);
    border-color: rgb(210, 105, 3);
}

.hide{
    display: none;
}