h4 {color: white;}

h6 {font-weight: bold;}

.modalBody h6::after {
    content: "*";
    color: red;
}

#header {
    background: linear-gradient(to right, rgb( 242, 105, 3), rgb(115, 165, 194), rgb(253, 181, 21));
}

#add-aboutMe {
    float: right;
    cursor: pointer;
    margin-top: 5px;
}

#card-info {
    margin-left: 10px;
    cursor: pointer;
}

#edit-aboutMe{
    float: right;
    cursor: pointer;
    color: #42a5f5;
}

#delete-aboutMe{
    float: right;
    cursor: pointer;
    color: red;
    margin-left: 3px;
}

.form-input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

form {
    margin: 20px;
    padding: 15px;
}

.about-me-content{
    background-color: white;

}

.about-me-content::after{
    content: "";
}

.buttonStyle{
    color: black;
    background-color: black;

}

h6::after{
    content: "";
    color: white;
}
