.card:not(:first-child){
    margin-top: 50px;
}

#bottom-border{
    border-bottom: 5px solid rgb(115, 165, 194);
    background-color: white;
}

#aboutMe-h6{
    color: grey;
}

#aboutMe-h6::after{
    content: "";
}

#industry{
    display: flex;
    flex-direction: row;
}